{% extends "template.html"%}
{%block main_container%}

<div class="d-flex gap-2 justify-content-center py-5">

    <button class="btn btn-primary rounded-pill px-3" type="button">전체</button><button
        class="btn btn-info rounded-pill px-3" type="button"><a href="http://www.exterminal.co.kr/">고속버스</a></button>
    <button class="btn btn-success rounded-pill px-3" type="button"><a href="http://www.letskorail.com">기차</a></button>
    <button class="btn btn-danger rounded-pill px-3" type="button"><a
            href="https://www.skyscanner.co.kr/flights">항공</a></button>
    <button class="btn btn-warning rounded-pill px-3" type="button"><a
            href="https://homepage.skcarrental.com/">렌트카</a></button>
</div>

<div class="row">
    <div class="col-md-3" style="border-style: dotted;">
        <img src="그림 이미지 넣을예정" alt="Tour Image">
        <div class="tags">#고속버스</div>
        <h5>서울투어 4일</h5>
        <p>
            ＃ 서울 중심가 투어
        </p>
    </div>
    <div class="col-md-9" style="border-style: dotted;">
        <div class="date-info">
            <span><img src="버스회사 이미지" alt="버스회사이미지">대한버스</span>
            <span>출발시간: 06:50 ~ 10:50</span>
            <span>소요시간 : 4시간</span>
        </div>
        <div class="price-info">
            <em><strong>10,000</strong> 원~</em>
        </div>
        <div class="col-12" style="border-style: dotted;">
            <div class="col-md-4" style="border-style: dotted;">상품 카테고리</div>
            <div class="col-8" style="border-style: dotted;">
                <div class="col-md-6" style="border-style: dotted;">상품 별점</div>
                <div class="col-md-6" style="border-style: dotted;">상품 리뷰</div>
            </div>
        </div>


    </div>
</div>
</div>



<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="row">
                <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                        xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"></rect><text x="20%" y="20%" fill="#eceeef">이미지
                            넣을자리</text>
                    </svg>
                    <div class="card-body">
                        <p class="card-text">상품 내용 설명</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-body-secondary">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                        xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                            dy=".3em">Thumbnail</text>
                    </svg>
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-body-secondary">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="btn-group">
    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
</div>


</div>



{%endblock%}