{% extends "template.html"%}
{%block main_container%}
<div class="col-md-3" style="border-style: ridge;">
    숙박
</div>

<div class="d-flex gap-2 justify-content-center py-5">
    <button class="btn btn-primary rounded-pill px-3" type="button">전체</button>
    <button class="btn btn-info rounded-pill px-3" type="button"><a href="">호텔</a></button>
    <button class="btn btn-success rounded-pill px-3" type="button"><a href="">모텔</a></button>
    <button class="btn btn-danger rounded-pill px-3" type="button"><a href="">게스트하우스</a></button>
</div>

<div>
    <form>
        <button formaction="/plan_trip/reserve_transfer" class="">뒤로가기</button>
        <button formaction="/plan_trip/reserve_tour" class="">건너뛰기</button>
        <button formaction="/plan_trip/reserve_tour" class="">다음</button>
    </form>
</div>

<div class="selector_box">
    <div class="border d-flex justify-content-end"><select id="">
            <option>selector</option>
            <option value="0">낮은가격순</option>
            <option value="1">높은가격순</option>
            <option value="2">가장 가까운 거리순</option>
        </select></div>
</div>
{%for dict_dorm in list_dorm%}
    <div class="row align-items-stretch mb-3" style="border: 1px solid #555; border-radius: 15px; height: 70%;">
        <div class="col-md-3" style="border-right: 1px solid #555;"> 
            <img src="{{dict_dorm.dorm_image}}" alt="Dorm Image" class="img-fluid" style="width: 100%; height: auto;">
        </div>
        <div class="col-md-9 d-flex flex-column justify-content-center">
            <div class="mb-2" style="margin-top: -10px;">{{dict_dorm.dorm_cate}}</div> <!-- 위로 이동 -->
            <div class="d-flex justify-content-between align-items-baseline mb-2">
                <h2>{{dict_dorm.dorm_name}}</h2>
                <h2>{{dict_dorm.dorm_price}}</h2>
            </div>
            <div style="margin-top: 10px;">{{dict_dorm.dorm_address}}</div> <!-- 아래로 이동 -->
        </div>
    </div>
{%endfor%}
{%endblock%}