{% extends "template.html"%}
{%block main_container%}






<section class="sub-home_body__3kGpk">
    <section class="SubhomeOrderingWidgetContainer_orderingContainer__1xAZ2">
        <section class="OrderingWidgetContainer_container__39Hyk">
            <section class="QuickCategory_container__7o6x_ OrderingWidgetContainer_smallPadding__gxzdI">
                <div class="QuickCategory_businessBWrap__2grTz">
                    <a href="https://yanolja.com/exhibition/6055" class="QuickCategoryItem_businessItemB__IwZN4">
                        <img src="https://yaimg.yanolja.com/v5/2023/06/27/09/649aaf67855c04.36049594.png" alt="고속버스">
                        <p class="">고속버스</p>
                    </a>
                        <img src="https://yaimg.yanolja.com/v5/2023/06/27/09/649aaf8c12c211.52356734.png" alt="기차">
                        <p class="">기차</p>
                        <img src="https://yaimg.yanolja.com/v5/2023/06/27/09/649aafb439b327.47217397.png" alt="렌터카">
                        <p class="">렌터카</p>

                </div>
            </section>
            <section class="TransportationList_container__oO_Q9">
                <header class="SubHeader_container__mMQq5">
                    <div class="SubHeader_titleWrap__3g5at">
                        <h2 class="SubHeader_title__1PFTQ">교통편 바로예매</h2>
                    </div>
                </header>
                <div class="TransportationList_widgetContent__3SvkJ">
                    <li class="TransportationList_item__2Hsbe"><a href="https://yanolja.com/exhibition/6055"
                            class="TransportationItem_container__27Jre"><img class="TransportationItem_icon__2dBvG"
                                src="https://yaimg.yanolja.com/v5/2022/11/03/17/6363f778bcdd45.72931454.png"
                                alt="고속버스"><span class="TransportationItem_title__3TMtJ">고속버스</span><button
                                class="TransportationItem_button__1e0aZ"><span
                                    class="TransportationItem_buttonText__1Lvq7">출발/도착</span><i
                                    class="TransportationItem_listArrow__3v2hZ"></i></button></a></li>
                    <li class="TransportationList_item__2Hsbe"><a href="https://www.yanolja.com/train"
                            class="TransportationItem_container__27Jre"><img class="TransportationItem_icon__2dBvG"
                                src="https://yaimg.yanolja.com/v5/2022/11/03/17/6363f794a6a110.46610298.png"
                                alt="기차"><span class="TransportationItem_title__3TMtJ">기차</span><button
                                class="TransportationItem_button__1e0aZ"><span
                                    class="TransportationItem_buttonText__1Lvq7">출발/도착</span><i
                                    class="TransportationItem_listArrow__3v2hZ"></i></button></a></li>
                    <li class="TransportationList_item__2Hsbe"><a href="https://flight-web.yanolja.com/flights"
                            class="TransportationItem_container__27Jre"><img class="TransportationItem_icon__2dBvG"
                                src="https://yaimg.yanolja.com/v5/2022/11/03/17/6363f7b5c35360.42954365.png"
                                alt="항공권"><span class="TransportationItem_title__3TMtJ">항공권</span><button
                                class="TransportationItem_button__1e0aZ"><span
                                    class="TransportationItem_buttonText__1Lvq7">출발/도착</span><i
                                    class="TransportationItem_listArrow__3v2hZ"></i></button></a></li>
                </div>
            </section>
        </section>
    </section>
    <div class="ToTopButton_container__80T0O ToTopButton_zeroDuration__1U1zi ToTopButton_hide__xStR1"><button
            class="ToTopButton_button__2Y4Fv"><img
                src="//yaimg.yanolja.com/joy/sunny/static/images/icon-arrow-less-line-1.svg" alt="맨 위로"></button></div>
</section>

{%endblock%}