{% extends "template.html"%}
{%block main_container%}
<div class="col-md-3" style="border-style: ridge;">
    숙박
</div>

<div class="d-flex gap-2 justify-content-center py-5">
    <button class="btn btn-primary rounded-pill px-3" type="button">전체</button><button
        class="btn btn-info rounded-pill px-3" type="button"><a href="">호텔</a></button>
    <button class="btn btn-success rounded-pill px-3" type="button"><a href="">펜션</a></button>
    <button class="btn btn-danger rounded-pill px-3" type="button"><a href="">게스트하우스</a></button>
    <button class="btn btn-warning rounded-pill px-3" type="button"><a href="">풀빌라</a></button>
</div>

<div>
    <form>
        <button formaction="/plan_trip/reserve_transfer" class="">뒤로가기</button>
        <button formaction="/plan_trip/reserve_tour" class="">건너뛰기</button>
        <button formaction="/plan_trip/reserve_tour" class="">다음</button>
    </form>
</div>

<div class="selector_box">
    <div class="border d-flex justify-content-end"><select id="">
            <option>selector</option>
            <option value="0">낮은가격순</option>
            <option value="1">높은가격순</option>
            <option value="2">낮은별점순</option>
            <option value="3">높은별점순</option>
            <option value="4">가장 가까운 거리순</option>
        </select></div>
</div>

<div class="row">
    <div class="col-md-3" style="border-style: ridge;">
        <img src="그림 이미지 넣을예정" alt="Tour Image">
    </div>
    <div class="col-md-9" style="border-style: ridge;">
        <div class="dorm_date_info">
            <span>슈페리어 더블 오션뷰</span>
            <div>
                기준 2인 / 최대 2인
            </div>
            <div>
                더블 침대 1개
            </div>
            <div>
                체크인 16:00 ~ 체크아웃 11:00
            </div>
        </div>
        <div class="dorm_price_info">
            <em><strong>100,000</strong> 원~</em>
        </div>
        <div class="row justify-content-between">
            <div class="col-md-4" style="border-style: ridge;">상품 카테고리</div>
            <div class="col-md-4">
                <div style="border-style: ridge;">상품 별점</div>
                <div style="border-style: ridge;">상품 리뷰</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3" style="border-style: ridge;">
        <img src="그림 이미지 넣을예정" alt="Tour Image">
    </div>
    <div class="col-md-9" style="border-style: ridge;">
        <div class="dorm_date_info">
            <span>로얄스위트 트윈 오션뷰</span>
            <div>
                기준 2인 / 최대 4인
            </div>
            <div>
                더블 침대 2개
            </div>
            <div>
                체크인 16:00 ~ 체크아웃 11:00
            </div>
        </div>
        <div class="dorm_price_info">
            <em><strong>200,000</strong> 원~</em>
        </div>
        <div class="row justify-content-between">
            <div class="col-md-4" style="border-style: ridge;">상품 카테고리</div>
            <div class="col-md-4">
                <div style="border-style: ridge;">상품 별점</div>
                <div style="border-style: ridge;">상품 리뷰</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3" style="border-style: ridge;">
        <img src="그림 이미지 넣을예정" alt="Tour Image">
    </div>
    <div class="col-md-9" style="border-style: ridge;">
        <div class="dorm_date_info">
            <span>슈그랑블 스위트 파셜오션 & 마운틴뷰 키즈룸</span>
            <div>
                기준 2인 / 최대 4인
            </div>
            <div>
                킹 침대 1개, 2층 침대 1개
            </div>
            <div>
                체크인 16:00 ~ 체크아웃 11:00
            </div>
        </div>
        <div class="dorm_price_info">
            <em><strong>300,000</strong> 원~</em>
        </div>
        <div class="row justify-content-between">
            <div class="col-md-4" style="border-style: ridge;">상품 카테고리</div>
            <div class="col-md-4">
                <div style="border-style: ridge;">상품 별점</div>
                <div style="border-style: ridge;">상품 리뷰</div>
            </div>
        </div>
    </div>
</div>
{%endblock%}