{% extends "template.html"%}



{% block main_container %}
<h2>로그인</h2>
<form action="">
    <button class="row btn btn-link">
        <div class="col-6">LOGO</div>
    </button>
    <div class="row ">
        <div class="col-2">아이디</div>
        <input class="col-3" ></input>
        <div class="col-1"></div>
        <button class="col-1">로그인</button>
        
    </div>
    <div class="row">
        <div class="col-2">비밀번호</div>
        <input type="password" class="col-3" ></input>
        <div class="col-1"></div>
        <button class="col-1">로그인</button>
    </div>


    <button class="btn btn-link">Link</button>
    <button class="btn btn-link">Link</button>
    <button class="btn btn-link">Link</button>
</form>
{% endblock %}
