<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forms</title>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Customer CSS commons.css -->
    <link rel="stylesheet" href="../css/commons.css">
    <style>
        nav {
            margin-top: 30px;
        }
    </style>
</head>

<body>
    <nav class="container">
        <div class="row justify-content-">
            <div class="container">
                <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
                    <a href="/"
                        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                        <svg class="bi me-2" width="40" height="32">
                            <use xlink:href="#bootstrap"></use>
                        </svg>
                        <span class="fs-4">PathFinder</span>
                    </a>

                    <ul class="nav nav-pills">
                        <li class="nav-item"><a href="/login" class="nav-link">로그인/로그아웃</a></li>
                        <li class="nav-item"><a href="/mypage" class="nav-link">마이페이지</a></li>
                        <li class="nav-item"><a href="/admin" class="nav-link">관리자</a></li>
                    </ul>
                </header>
            </div>
        </div>
        <div class="container">
            <header class="d-flex justify-content-center py-3">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <form action="">
                            <button class="btn" formaction="/" formmethod="get">
                                Home
                            </button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <div class="container">
                            <div class="dropdown dropdown">
                                <button class="btn" data-bs-toggle="dropdown">
                                    여행 정보
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="http://">여행지</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="http://">숙소</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="http://">교통</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="http://">투어/티켓</a>
                                    </li>
                                </ul>
                            </div>
                    </li>
                    <li class="nav-item">
                        <div class="container">
                            <div class="dropdown dropdown">
                                <button class="btn" data-bs-toggle="dropdown">
                                    이벤트
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="http://">베스트 여행지</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="http://">베스트 숙소</a>
                                    </li>
                                </ul>
                            </div>
                    </li>
                    <li class="nav-item">
                        <form action="">
                            <button class="btn" formaction="/community" formmethod="get">
                                나의 여행기
                            </button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <div class="container">
                            <div class="dropdown dropdown">
                                <button class="btn" data-bs-toggle="dropdown">
                                    고객센터
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="/consult/notice">공지사항</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="http://">자주 묻는 질문</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="http://">1:1 문의</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="http://">카카오톡 문의</a>
                                    </li>
                                </ul>
                            </div>
                    </li>
                </ul>
            </header>
        </div>
    </nav>
    <main class="container">
        {%block main_container%}

        {%endblock%}
    </main>

    <footer class="container">
        {%block footer_container%}
        {%endblock%}
    </footer>
</body>
<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</html>